nav {
  margin: 2em 4em;
  padding: 2em; 
  max-width: 550px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 0.5rem;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover {
  text-decoration: underline;
}